.navbar {
    z-index: 999;
}
.fab-quick {
    position: fixed;
    right: 0px;
    top: 20%;
    background: #4d80dd;
    background: #2f9c29;
    background: #fff;
    width:  100px;
    height: 100px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 2px;
    box-shadow: 0 0 5px #001220;
    text-align: center;
    cursor: pointer;
}
.btm-indicator {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    text-align: center;
    background: #022b4b;
    background: #2f9c29;
    background: #006064;
    height: 30px;
}
.btm-indicator mat-icon {
    color: #f8f8f8;
    font-size: 3em;
    height: 100%;
    margin-top: -5px;
    margin-right: 20%;
}
.tel-24 {
    width: 100%;
    height: 70px;
    background: url("./../assets/images/247.png") no-repeat 0 0;;
    background-size: contain;
    background-position: center center;
}
.dis-menu {
    position: relative;
    z-index: 9999;
}
.panel-header {
    background: #2f9c29;
    background: #006064;
    margin-top: -10px;
    box-shadow: 0 0 5px #002005;
    margin-bottom: 15px;
    padding: 10px;
    color: #fff;
    font-size: 1.5em;
}
.display-5 {
    font-size: 2em;
}
.display-6 {
    font-size: 1.5em;
}
.call-box {
    padding: 0 3px;
}
.pa-text{
    padding: 10px 0;
    font-style: italic;
    color: #333;
}
.nig-image {
    height: 30px;
    width: 30px;
}
