.jumbotron{
    
    border-radius: 0 !important;
   
}
.jumbotrone{ 
    background: transparent;

}
.jumbotron .mat-raised-button{
    font-family: 'Satisfy', cursive;
   padding: 15px 30px;
   font-size: 3em;
}
@media screen and (max-width: 500px){
    .jumbotron .mat-raised-button{
       font-family: 'Satisfy', cursive;
       padding: 15px 30px;
       font-size: 2em;
    }
}
/*.jumbotrone{
    background: #bdd2eb8c; ;
    border-radius: 0 !important;
    height: 200px;
}
.jumbotrone:before {
    content: '';
	position: absolute;
	top: 2em;
	right: 0;
	bottom: 30%;
	left: 0;
	background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
    opacity: .6;
    z-index: 1px; 
  }*/
.guard-pic {
    position: absolute;
    top: -100px;
    background: url('./../../assets/images/st_guard.png') no-repeat right center;;
    height: 482px;
    width: 100%;
    background-size: cover;
    border-right: 10px solid transparent;
    background-position-y: -5px;
    content:"";
    position:absolute;
    right:20px;
    z-index: 999;
}
.more-info {
    font-size: 1.6em;
}
@media screen and (min-width: 1200px){
    .guard-pic {
        height: 456px;
    }
    .display-3 {
        font-size: 3.5rem;
    }
}
@media screen and (max-width: 1199px){
    .display-3 {
        font-size: 2rem;
    }
}
@media screen and (max-width: 992px)
{
  .display-3 {
    font-size: 2em;;
  }

}
@media screen and (max-width: 1109px)
{
  .display-3 {
    font-size: 2em;;
  }
}
@media screen and (max-width: 500px)
{
  .display-3 {
    font-size: 1.3em;;
  }

  .more-info {
    font-size: 1em;
  }
}

.approved {

    height: 60px;
}
.logos-approve img{
  width: 100px;
  height: 100px;
  margin: 0 10px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.logos-approve {
    margin-bottom: 40px;
}
.title {
    color: #006064;
}
.more-in h2{
    color: #006064;
}